<ion-view class="bg-login">
    <!-- logo start -->
    <div class="logo"></div>
    <!-- /logo end -->

    <!-- button bg start -->
    <div class="button-bg">
    	<!-- login buttons start -->
          <button class="button button-block button-positive" ng-click="login()">
            Login with Facebook
          </button>

          <button class="button button-block button-default" ng-click="login()">
            Login with Twitter
          </button>
        <!-- /login buttons end -->
    </div>
    <!-- /button bg end -->
</ion-view>